<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csc3003s.foodies">
    <!-- Permission for camera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodies">
        <activity
            android:name=".varsityFastFoodMenuItem"
            android:exported="false" />
        <activity
            android:name=".varsityFastFoodMenu"
            android:exported="false" />
        <activity
            android:name=".budget_rolls"
            android:exported="false" />
        <activity
            android:name=".best_quality"
            android:exported="false" />
        <activity
            android:name=".budgetRollsMenuItem"
            android:exported="false" />
        <activity
            android:name=".budgetRollsMenu"
            android:exported="false" />
        <activity
            android:name=".bestQualityMenuItem"
            android:exported="false" />
        <activity
            android:name=".bestQualityMenu"
            android:exported="false" />
        <activity
            android:name=".uRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".vRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".VRecycleView"
            android:exported="false" />
        <activity
            android:name=".VRecyclerReviewActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".vendorVarsityFastFood"
            android:exported="false" />
        <activity
            android:name=".vendorBestQuality"
            android:exported="false" />
        <activity
            android:name=".vendorCampusCafe"
            android:exported="false" />
        <activity
            android:name=".vendorPrashad"
            android:exported="false" />
        <activity
            android:name=".vendorDans"
            android:exported="false" />
        <activity
            android:name=".vendorBudgetRolls"
            android:exported="false" />
        <activity
            android:name=".rewardsPage"
            android:exported="false" />
        <activity
            android:name=".userIndiComments"
            android:exported="false" />
        <activity
            android:name=".RealTimeComments"
            android:exported="false" />
        <activity
            android:name=".VendorsCommentPage"
            android:exported="false" />
        <activity
            android:name=".GuestsCommentPage"
            android:exported="false" />
        <activity
            android:name=".CustomerCommentsPage"
            android:exported="false" />
        <activity
            android:name=".AllUsersComments"
            android:exported="false" />
        <activity
            android:name=".QRCodeScan"
            android:exported="false" />
        <activity
            android:name=".ReviewPage"
            android:exported="false" />
        <activity
            android:name=".ReviewOrRead"
            android:exported="false" />
        <activity
            android:name=".venda_Reviews"
            android:exported="false" />
        <activity
            android:name=".BestQualityM"
            android:exported="false" />
        <activity
            android:name=".Guest"
            android:exported="false" />
        <activity
            android:name=".Line_length"
            android:exported="false" />
        <activity
            android:name=".vendor_review"
            android:exported="false" />
        <activity
            android:name=".VendorOptions"
            android:exported="false" />
        <activity
            android:name=".sign_up_vendor"
            android:exported="false" />
        <activity
            android:name=".vendor_sign_in"
            android:exported="false" />
        <activity
            android:name=".vendor"
            android:exported="false" />
        <activity
            android:name=".Customer"
            android:exported="false" />
        <activity
            android:name=".prashad"
            android:exported="false" />
        <activity
            android:name=".dan"
            android:exported="false" />
        <activity
            android:name=".campus_cafe"
            android:exported="false" />
        <activity
            android:name=".varsity_fast_food"
            android:exported="false" />
        <activity
            android:name=".VendorActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>